@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Purple Color Palette */
  --purple-primary: rgb(81, 77, 223);    /* #514ddf */
  --purple-secondary: rgb(120, 37, 195); /* #7825c3 */
  --purple-tertiary: rgb(100, 33, 172);  /* #6421ac */
  --purple-accent: rgb(196, 127, 254);   /* #c47ffe */
  --purple-medium: rgb(135, 40, 212);    /* #8728d4 */
  --purple-dark: rgb(61, 24, 129);       /* #3d1881 */
}

h1 { 
  font-size: 30px;
  font-weight: bold;
  color: var(--purple-secondary);
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--purple-tertiary);
}

h3 {
  font-size: 15px;
  font-weight: bold;
  color: var(--purple-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Gotham", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Gotham", Arial, Helvetica, sans-serif;
}


/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;   /* decrease width */
  height: 6px;  /* decrease height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* or any bg color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8b5cf6; /* purple-ish */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6d28d9; /* darker purple on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;         /* decrease width */
  scrollbar-color: #8b5cf6 transparent; /* thumb + track */
}
